.light{
    background-color: white;
    color: black;
    /* border-color: var(--border-color-light); */
    position: fixed;
    top: 0;
    left: 10%;
    width: 70%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #090909; 
    transition: background-color 0.3s;
}

.darktheme{
    background-color: black;
    color: white;
    /* border-color: var(--border-color-dark); */
    position: fixed;
    top: 0;
    left: 10%;
    width: 70%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #090909; 
    transition: background-color 0.3s;
}

