.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 100vh;
}

.forminput{
    display: flex;
    flex-direction: row;
}

.forminput label{
    margin: 15px;
    font-weight: bold;
}

.forminput input{
    padding: 10px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 2px;
    margin: 2px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:active, 
button:hover {
    background-color: #0056b3;
}